{% extends 'base.html.twig' %}

{% block title %}Order flowers{% endblock %}

{% block body %}
{{ form_start(form, {'action': path('flower') }) }}
<div class="form-group">
    {{ form_row(form.address) }}
</div>
<div class="form-group">
    {{ form_row(form.name) }}
</div>
<div class="form-group">
    {{ form_row(form.deliver_on) }}
</div>

{{ form_row(form._token) }}

<button type="submit" class="btn btn-primary">
    Order
</button>
<a href="{{ path('home_page') }}" class="btn btn-warning">Back</a>
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        jQuery('#flower_order_form_deliver_on').datetimepicker({
            format:'Y-m-d H:i',
            minDate:'-1970/01/01',
            step:10
        });
    </script>
{% endblock %}